nav {
  background: linear-gradient(to right, #4c3a69, #333);
  padding: 20px;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin: 0 15px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: #8f8d8d;
}
