.homePage {
  background-image: url('https://i.pinimg.com/originals/d6/39/be/d639beee7111df1643f812946891db3a.gif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
